%footer#footer

  %div.buy-saikan
    %a{:href => 'http://www.oisiosu.jp/shop/item_list?category_id=135122', :target => '_blank'} 仕方ないから爺さんを助ける

  %div.thankyou
    %img{src: 'assets/img/thankyou.png' }

  %p ＃菜乾 知らなかったら。

  .social-area-syncer{:style => 'background-color: #000; padding: 0px 0px;'}
    %ul.social-button-syncer
      / Twitter
      %li.sc-tw
        %a.twitter-share-button{"data-count" => "vertical", "data-dnt" => "true", "data-lang" => "ja", "data-url" => "http://space-tsukemono.com", :href => "https://twitter.com/share?url=http://space-tsukemono.com/&text=48人全員が知りませんと答えた伝説の宇宙食材「菜乾」#菜乾"} ツイート
      / Facebook
      %li.sc-fb
        .fb-like{"data-action" => "like", "data-href" => "http://space-tsukemono.com", "data-layout" => "box_count", "data-share" => "false", "data-show-faces" => "true"}
      / Google+
      %li
        .g-plusone{"data-href" => "http://space-tsukemono.com", "data-size" => "tall"}
      / はてなブックマーク
      %li
        %a.hatena-bookmark-button{"data-hatena-bookmark-lang" => "ja", "data-hatena-bookmark-layout" => "vertical-balloon", :href => "http://b.hatena.ne.jp/entry/http://space-tsukemono.com", :title => "このエントリーをはてなブックマークに追加"}
          %img{:alt => "このエントリーをはてなブックマークに追加", :height => "20", :src => "https://b.st-hatena.com/images/entry-button/button-only@2x.png", :style => "border:none;", :width => "20"}/
      / pocket
      %li
        %a.pocket-btn{"data-lang" => "en", "data-pocket-count" => "vertical", "data-pocket-label" => "pocket", "data-save-url" => "http://space-tsukemono.com"}
      / LINE [画像は公式ウェブサイトからダウンロードして下さい]
      %li.sc-li
        %a{:href => "http://line.me/R/msg/text/?https://syncer.jp"}
          %img.sc-li-img{:alt => "LINEに送る", :height => "60", :src => "assets/img/linebutton.png", :width => "36"}/
    / Facebook用
    #fb-root

  %dl.ikehaya
    %dt
      %img{src: 'assets/img/ikehaya.png'}
    %dd まだつけもので消耗してるの ？

  %p Copyright © ononao
