.social-area-syncer
  %ul.social-button-syncer
    / Twitter
    %li.sc-tw
      %a.twitter-share-button{"data-count" => "vertical", "data-dnt" => "true", "data-lang" => "ja", "data-url" => "http://space-tsukemono.com", :href => "https://twitter.com/share?url=http://space-tsukemono.com/&text=48人全員が知りませんと答えた伝説の宇宙食材「菜乾」#菜乾"} ツイート
    / Facebook
    %li.sc-fb
      .fb-like{"data-action" => "like", "data-href" => "http://space-tsukemono.com", "data-layout" => "box_count", "data-share" => "false", "data-show-faces" => "true"}
    / Google+
    %li
      .g-plusone{"data-href" => "http://space-tsukemono.com", "data-size" => "tall"}
    / はてなブックマーク
    %li
      %a.hatena-bookmark-button{"data-hatena-bookmark-lang" => "ja", "data-hatena-bookmark-layout" => "vertical-balloon", :href => "http://b.hatena.ne.jp/entry/http://space-tsukemono.com", :title => "このエントリーをはてなブックマークに追加"}
        %img{:alt => "このエントリーをはてなブックマークに追加", :height => "20", :src => "https://b.st-hatena.com/images/entry-button/button-only@2x.png", :style => "border:none;", :width => "20"}/
    / pocket
    %li
      %a.pocket-btn{"data-lang" => "en", "data-pocket-count" => "vertical", "data-pocket-label" => "pocket", "data-save-url" => "http://space-tsukemono.com"}
    / LINE [画像は公式ウェブサイトからダウンロードして下さい]
    %li.sc-li
      %a{:href => "http://line.me/R/msg/text/?https://syncer.jp"}
        %img.sc-li-img{:alt => "LINEに送る", :height => "60", :src => "assets/img/linebutton.png", :width => "36"}/
  / Facebook用
  #fb-root



%div.mainContent
  %div.talkContent
    %div.inner

      %div.linedot
        %span キャラクター紹介
        %hr

      %div.characterIntro
        %dl.andy.andyIntro
          %dt
            %img{src: 'assets/img/andy.png'}
          %dd
            長谷川・アンディ
            %p つけもの大好きで仕方ない外国人
        %dl.hakase.hakaseIntro
          %dt
            %img{src: 'assets/img/hakase.png'}
          %dd
            つけものじいさん
            %p よく入れ歯が落ちる自称つけもの博士
        %dl.hakase.hakaseIntro
          %dt
            %img{src: 'assets/img/ha.png', :style => 'width: 30px;'}
          %dd{:style => 'color: #FF00FF;'}
            おじいさんの入れ歯
            %p すごく臭い

      %div.linedot
        %hr

        /最初
      %dl.andy
        %dt
          %img{src: 'assets/img/andy.png'}
        %dd バクバク ガツガツガツ バクバクバクバク
      %div.image
        %img{src: 'assets/img/eat.png'}
      %dl.andy
        %dt
          %img{src: 'assets/img/andy-4.png'}
        %dd つけものマジうめ〜〜〜〜〜
      %dl.andy
        %dt
          %img{src: 'assets/img/andy.png'}
        %dd おっと、旨すぎて全部食っちまった。つけ直すか。
      %div.image
        %img{src: 'assets/img/nukaduke.png'}
        %p ぬちょぬちょぬちょぬちょ
      %dl.hakase.flower
        %dt
          %img{src: 'assets/img/hakase-ikehaya.png'}
        %dd まだつけもので消耗してるの ？
      %dl.andy
        %dt
          %img{src: 'assets/img/andy-2.png'}
        %dd ん？イケハヤか ？ あ、ちがった。なんだ、このくそムカつくジジイは ！ ？
      %dl.hakase
        %dt
          %img{src: 'assets/img/hakase-3.png'}
        %dd じ、じじい…。ワシはつけもの博士じゃ。
      %dl.andy
        %dt
          %img{src: 'assets/img/andy-5.png'}
        %dd しわっしわ ！
      %dl.hakase.fuck
        %dt
          %img{src: 'assets/img/hakase-4.png'}
        %dd だまれ ！
      %dl.andy
        %dt
          %img{src: 'assets/img/andy-6.png'}
        %dd ひいいいいいいいいいいいいいい。キモチワルイ…。
      %div.image
        %img{src: 'assets/img/hakase-1.png'}
        %p{:style => 'font-size: 40px;'} ガーーーーーン
      %dl.hakase
        %dt
          %img{src: 'assets/img/hakase-5.png'}
        %dd …まあいい。これからの時代はこれじゃ！！


        /菜乾
      %div.image
        %img{src: 'assets/img/saikan1.png'}
      %dl.andy
        %dt
          %img{src: 'assets/img/andy.png'}
        %dd なんですか ？ これは ？
      %dl.hakase
        %dt
          %img{src: 'assets/img/hakase-3.png'}
        %dd とりあえず食ってみろ。
      %dl.hakase
        %dt
          %img{src: 'assets/img/hakase.png'}
        %dd どうじゃ ？ 美味いだろ ？
      %dl.hakase
        %dt
          %img{src: 'assets/img/hakase.png'}
        %dd これはわしが作った新時代のつけものじゃ ！
      %div.image
        %img{src: 'assets/img/saikan3.png'}
      %dl.hakase
        %dt
          %img{src: 'assets/img/hakase-3.png'}
        %dd 菜乾じゃ。
      %dl.andy
        %dt
          %img{src: 'assets/img/andy-3.png'}
        %dd サイカン ？ ！
      %dl.hakase
        %dt
          %img{src: 'assets/img/hakase.png'}
        %dd まあ簡単に言えば、つけものをフリーズドライ化させたものじゃ。
      %dl.andy
        %dt
          %img{src: 'assets/img/andy-3.png'}
        %dd え、これがつけもの ？ ！ ！ ！
      %dl.hakase
        %dt
          %img{src: 'assets/img/hakase-3.png'}
        %dd そうじゃ、水につければ元にもどる。
      %dl.andy
        %dt
          %img{src: 'assets/img/andy-4.png'}
        %dd す、すごい！ もうぬちょぬちょしなくて済むのか ！ ！
      %dl.hakase
        %dt
          %img{src: 'assets/img/hakase.png'}
        %dd さらにな、新時代のつけものはそのままでも食べることが出来るのじゃ。
      %dl.hakase
        %dt
          %img{src: 'assets/img/hakase-6.png'}
        %dd ほれ、ほれ食ってみろ。
      %dl.andy
        %dt
          %img{src: 'assets/img/andy-7.png'}
        %dd あれ、今顔からなにか落ちませんでした ？
      %dl.hakase
        %dt
          %img{src: 'assets/img/hakase-3.png'}
        %dd 気のせいじゃ。食うんじゃ！
      %dl.andy
        %dt
          %img{src: 'assets/img/andy.png'}
        %dd ……パクパク ほんとだ、ほんとにつけものだ ！
      %dl.andy
        %dt
          %img{src: 'assets/img/andy.png'}
        %dd 博士 ！ もっとくれよ ！
      %dl.hakase
        %dt
          %img{src: 'assets/img/hakase.png'}
        %dd ほれ ！
      %dl.andy
        %dt
          %img{src: 'assets/img/andy.png'}
        %dd バクバク ガツガツガツ バクバクバクバク
      %dl.andy
        %dt
          %img{src: 'assets/img/andy.png'}
        %dd 美味い、美味すぎる ！ ！
      %dl.hakase
        %dt
          %img{src: 'assets/img/hakase-3.png'}
        %dd そうじゃろ、ところでお主、菜乾についてもっと知りたいか ？
      %dl.andy
        %dt
          %img{src: 'assets/img/andy.png'}
        %dd ま、まあ一応。
      %dl.hakase
        %dt
          %img{src: 'assets/img/hakase.png'}
        %dd そうか、そうか！これを読んでみろ。
        %dl.hakase
          %dt
            %img{src: 'assets/img/umamiya.png'}
          %dd
            うまみやたつお </br>（ 俳優 ／ ◯宮辰夫漬物本舗 ）
            %p 著書 </br>『 僕のパパの菜乾は世界一 』
      %div.image
        %img{src: 'assets/img/book.png'}
      %dl.hakase
        %dt
          %img{src: 'assets/img/hakase.png'}
        %dd 息子よ、ありがとう。
      %dl.andy
        %dt
          %img{src: 'assets/img/andy.png'}
        %dd 長くて読みたくない。
      %dl.hakase
        %dt
          %img{src: 'assets/img/hakase.png'}
        %dd ……。まぁつまり菜乾はビタミンCが豊富で乳酸菌も入ってて健康になれる食材っていうことじゃ。わしみたいになれるぞ ！
      %dl.hakase.flower
        %dt
          %img{src: 'assets/img/hakase-7.png'}
        %dd ちなみにお主がさっき食べてたきゅうりのつけものは乳酸菌どころかビタミンCも1gも入ってない、世界一栄養がない食べ物としてギネス記録にのってるぞ。</br>なんの取り柄もないな、ガハハハハハハ
      %dl.andy
        %dt
          %img{src: 'assets/img/andy-6.png'}
        %dd ひええええええええええええええ、うざいしキモい。
      %dl.hakase
        %dt
          %img{src: 'assets/img/hakase-3.png'}
        %dd まあ落ち着け、ここからが本題じゃ。実はな、宇宙でも和食ブームが起こっているんじゃ。
      %dl.andy
        %dt
          %img{src: 'assets/img/andy.png'}
        %dd 宇宙で ？
      %dl.hakase
        %dt
          %img{src: 'assets/img/hakase.png'}
        %dd 和食というのは世界でも健康に良いご飯として認識されているのじゃ。和食を食べて、長期滞在の際のストレスを和らげたいってことじゃな。宇宙の仕事は大変だからの。
      %dl.andy
        %dt
          %img{src: 'assets/img/andy.png'}
        %dd 和食にはすごい効果があるんですね ！
      %dl.hakase
        %dt
          %img{src: 'assets/img/hakase.png'}
        %dd だが一点だけ困ったことがあるんじゃ…。
      %dl.andy
        %dt
          %img{src: 'assets/img/andy-8.png'}
        %dd なんですか、困ったことって ？
      %dl.hakase
        %dt
          %img{src: 'assets/img/hakase.png'}
        %dd 今宇宙食に認定されている日本食というのは、これなんじゃが・・・。
      %div.image
        %img{src: 'assets/img/spacejapan.png'}
      %dl.andy
        %dt
          %img{src: 'assets/img/andy.png'}
        %dd あ ！ つけものがない ！
      %dl.hakase
        %dt
          %img{src: 'assets/img/hakase.png'}
        %dd そうなんじゃ。ところで衝撃の事実をもう一つ。つけものは世界無形文化遺産だってことを知っていたか？
      %dl.andy
        %dt
          %img{src: 'assets/img/andy-3.png'}
        %dd え、まじっすか ！
      %dl.hakase
        %dt
          %img{src: 'assets/img/hakase.png'}
        %dd だから宇宙食としてJAXAに認定されたら”宇宙で食べられる世界遺産”としてつけものが認知されるわけじゃ。
      %dl.andy
        %dt
          %img{src: 'assets/img/andy-8.png'}
        %dd え、でもすでに宇宙には和食があるんでしょ ？ それだと菜乾を飛ばしても意味ない気が…。
      %dl.hakase
        %dt
          %img{src: 'assets/img/hakase-8.png'}
        %dd うるさい！そんなこと分かってるわい！
      %dl.hakase
        %dt
          %img{src: 'assets/img/hakase-8.png'}
        %dd だから、菜乾の名前を世界無形文化遺産とかに変えればいいんじゃ！！！
      %dl.andy
        %dt
          %img{src: 'assets/img/andy.png'}
        %dd そんなことしたら何なのかよく分からなくなりますよ。理不尽すぎる。
      %dl.hakase
        %dt
          %img{src: 'assets/img/hakase.png'}
        %dd ……。
      %dl.hakase
        %dt
          %img{src: 'assets/img/hakase-10.png'}
        %dd 菜乾が宇宙食になってないのはおかしいんじゃ。
      %dl.andy
        %dt
          %img{src: 'assets/img/andy-3.png'}
        %dd え、急にどうした？！
      %dl.andy
        %dt
          %img{src: 'assets/img/andy.png'}
        %dd でも宇宙には日本人以外の国籍の人たちもいるわけだし、菜乾ってそんな認知されてないから…。
      %dl.hakase
        %dt
          %img{src: 'assets/img/hakase-8.png'}
        %dd 世界無形文化遺産じゃぞ！
      %dl.hakase
        %dt
          %img{src: 'assets/img/hakase-8.png'}
        %dd 菜乾は世界無形文化遺産なんじゃ！あのアンコール遺跡やマチュピチュ、グランドキャニオンと同じなんじゃ！
      %dl.andy
        %dt
          %img{src: 'assets/img/andy.png'}
        %dd そこまで言うと分からなくもないかも…、でもなんでそこまで菜乾にこだわるんですか？
      %dl.hakase
        %dt
          %img{src: 'assets/img/hakase.png'}
        %dd 実はな、わし菜乾なんじゃ…。
      %dl.andy
        %dt
          %img{src: 'assets/img/andy-3.png'}
        %dd 急なカミングアウト ？ ！
      %dl.hakase
        %dt
          %img{src: 'assets/img/hakase.png'}
        %dd 今まで宇宙食になるためにいろんなつけものが挑戦してきたんじゃが、保存期間が半年も持たずすべて却下になってしまったんじゃ。
      %dl.hakase
        %dt
          %img{src: 'assets/img/hakase.png'}
        %dd みんなわしに「後はお前に託した」と言って死んでいった…。
      %dl.andy
        %dt
          %img{src: 'assets/img/andy.png'}
        %dd そうだったんですね…。
      %dl.hakase
        %dt
          %img{src: 'assets/img/hakase.png'}
        %dd だからわしはそんなみんなの想いを宇宙に届けたい！
      %dl.andy
        %dt
          %img{src: 'assets/img/andy.png'}
        %dd はかせ…。
      %dl.hakase
        %dt
          %img{src: 'assets/img/hakase.png'}
        %dd だが、資金が足りないんじゃ…、宇宙に行くために資金が必要なんじゃ。
      %dl.hakase
        %dt
          %img{src: 'assets/img/hakase.png'}
        %dd わしは資金を集めるために身体の一部をここで売っとる。
      %div.image
        %img{src: 'assets/img/saikan2.png'}
      %dl.hakase
        %dt
          %img{src: 'assets/img/hakase.png'}
        %dd
          %p つけもの「菜乾」 | をいしおす
          %a{:href => 'http://item.rakuten.co.jp/kyoto-morinoya/10000033/', :target => '_blank'} http://item.rakuten.co.jp/kyoto-morinoya/10000033/
      %dl.andy
        %dt
          %img{src: 'assets/img/andy.png'}
        %dd 自分の身体の一部を…、そこまで本気なんですね。ちなみにあといくら必要なんですか？
      %dl.hakase
        %dt
          %img{src: 'assets/img/hakase.png'}
        %dd あと27,000円じゃ。50袋分。
      %dl.andy
        %dt
          %img{src: 'assets/img/andy.png'}
        %dd 意外と少ない…。
      %dl.hakase
        %dt
          %img{src: 'assets/img/hakase-3.png'}
        %dd 今まで地道に貯めてきたからの…。
      %dl.hakase
        %dt
          %img{src: 'assets/img/hakase.png'}
        %dd あ、お前さっき食ったよな ！ 買うんじゃ ！ 50袋買うんじゃ ！
      %dl.andy
        %dt
          %img{src: 'assets/img/andy-3.png'}
        %dd え…。
      %dl.hakase
        %dt
          %img{src: 'assets/img/hakase-8.png'}
        %dd お前が買うんじゃ！
      %dl.andy
        %dt
          %img{src: 'assets/img/andy.png'}
        %dd 無理ですよ…、毎月の小遣い100円だし。全財産20円しかないよ…。
      %dl.hakase
        %dt
          %img{src: 'assets/img/hakase-8.png'}
        %dd ええい ！ そんな言い訳が通用すると思ってるのか ！
      %dl.hakase
        %dt
          %img{src: 'assets/img/hakase-8.png'}
        %dd 早く買え！
      %dl.hakase
        %dt
          %img{src: 'assets/img/hakase.png'}
        %dd
          %p つけもの「菜乾」 | をいしおす
          %a{:href => 'http://item.rakuten.co.jp/kyoto-morinoya/10000033/', :target => '_blank'} http://item.rakuten.co.jp/kyoto-morinoya/10000033/
      %dl.hakase
        %dt
          %img{src: 'assets/img/hakase.png'}
        %dd
          %p つけもの「菜乾」 | をいしおす
          %a{:href => 'http://item.rakuten.co.jp/kyoto-morinoya/10000033/', :target => '_blank'} http://item.rakuten.co.jp/kyoto-morinoya/10000033/
      %dl.hakase
        %dt
          %img{src: 'assets/img/hakase.png'}
        %dd
          %p つけもの「菜乾」 | をいしおす
          %a{:href => 'http://item.rakuten.co.jp/kyoto-morinoya/10000033/', :target => '_blank'} http://item.rakuten.co.jp/kyoto-morinoya/10000033/
      %dl.andy
        %dt
          %img{src: 'assets/img/andy-9.png'}
        %dd うわぁ。怖い。博士怖いよ…。
      %dl.andy
        %dt
          %img{src: 'assets/img/andy.png'}
        %dd そうか ！ 博士いいこと思いついたよ！
      %dl.hakase
        %dt
          %img{src: 'assets/img/hakase-3.png'}
        %dd ふむ、なんじゃ ？ 返答次第では命がないと思え！
      %dl.andy
        %dt
          %img{src: 'assets/img/andy.png'}
        %dd （怖すぎる…。）僕達のいる場所ってインターネット上じゃないですか？だからここで代わりに買ってくれる人を集めればいいんじゃないですか？
      %dl.hakase
        %dt
          %img{src: 'assets/img/hakase.png'}
        %dd ふむ。たしかにな。そうしよう。
      %dl.andy
        %dt
          %img{src: 'assets/img/andy.png'}
        %dd これを見てる皆さん、どうか博士、いや僕のために菜乾を買って頂けないでしょうか？
      %dl.andy
        %dt
          %img{src: 'assets/img/andy.png'}
        %dd
          %p つけもの「菜乾」 | をいしおす
          %a{:href => 'http://item.rakuten.co.jp/kyoto-morinoya/10000033/', :target => '_blank'} http://item.rakuten.co.jp/kyoto-morinoya/10000033/
      %div.image
        %img{src: 'assets/img/andy-sorry.png'}
        %p よろしくお願いいたします。
      %dl.hakase
        %dt
          %img{src: 'assets/img/hakase.png'}
        %dd そんなんじゃ足りん！
      %dl.hakase
        %dt
          %img{src: 'assets/img/hakase.png'}
        %dd
          %p 「菜乾」万能とうがらし | をいしおす
          %a{:href => 'http://item.rakuten.co.jp/kyoto-morinoya/10000033/', :target => '_blank'} http://item.rakuten.co.jp/kyoto-morinoya/10000033/
      %dl.hakase
        %dt
          %img{src: 'assets/img/hakase-11.png'}
        %dd
          %p 「菜乾」梅果肉 | をいしおす
          %a{:href => 'http://item.rakuten.co.jp/kyoto-morinoya/10000033/', :target => '_blank'} http://item.rakuten.co.jp/kyoto-morinoya/10000033/
      %dl.hakase
        %dt
          %img{src: 'assets/img/hakase-11.png'}
        %dd
          %p 「菜乾」刻みすくぎ | をいしおす
          %a{:href => 'http://item.rakuten.co.jp/kyoto-morinoya/10000033/', :target => '_blank'} http://item.rakuten.co.jp/kyoto-morinoya/10000033/
      %dl.hakase
        %dt
          %img{src: 'assets/img/hakase-11.png'}
        %dd
          %p 「菜乾」しば漬け | をいしおす
          %a{:href => 'http://item.rakuten.co.jp/kyoto-morinoya/10000033/', :target => '_blank'} http://item.rakuten.co.jp/kyoto-morinoya/10000033/
      %dl.hakase
        %dt
          %img{src: 'assets/img/hakase-11.png'}
        %dd
          %p 「菜乾」たくあん | をいしおす
          %a{:href => 'http://item.rakuten.co.jp/kyoto-morinoya/10000033/', :target => '_blank'} http://item.rakuten.co.jp/kyoto-morinoya/10000033/
      %dl.hakase
        %dt
          %img{src: 'assets/img/hakase-11.png'}
        %dd
          %p 「菜乾」みぶ菜 | をいしおす
          %a{:href => 'http://item.rakuten.co.jp/kyoto-morinoya/10000033/', :target => '_blank'} http://item.rakuten.co.jp/kyoto-morinoya/10000033/
      %dl.hakase
        %dt
          %img{src: 'assets/img/hakase-11.png'}
        %dd
          %p 「菜乾」赤かぶら | をいしおす
          %a{:href => 'http://item.rakuten.co.jp/kyoto-morinoya/10000033/', :target => '_blank'} http://item.rakuten.co.jp/kyoto-morinoya/10000033/
      %dl.hakase
        %dt
          %img{src: 'assets/img/hakase-12.png'}
        %dd
          %p 「菜乾」九条ねぎ | をいしおす
          %a{:href => 'http://item.rakuten.co.jp/kyoto-morinoya/10000033/', :target => '_blank'} http://item.rakuten.co.jp/kyoto-morinoya/10000033/
      %dl.hakase
        %dt
          %img{src: 'assets/img/hakase-12.png'}
        %dd
          %p 「菜乾」白菜キムチ | をいしおす
          %a{:href => 'http://item.rakuten.co.jp/kyoto-morinoya/10000033/', :target => '_blank'} http://item.rakuten.co.jp/kyoto-morinoya/10000033/
      %dl.hakase
        %dt
          %img{src: 'assets/img/hakase-13.png'}
        %dd ぜええぜええ、ハァハァハァハァ
      %dl.hakase
        %dt
          %img{src: 'assets/img/ha2.png'}
        %dd ボチャ
      %dl.hakase
        %dt
          %img{src: 'assets/img/ha2.png', :style => 'width: 150px;'}
      %dl.hakase
        %dt
          %img{src: 'assets/img/ha2.png', :style => 'width: 200px;'}
      %dl.hakase.flower
        %dt
          %img{src: 'assets/img/hakase-1.png'}
        %dd …………。
      %dl.andy
        %dt
          %img{src: 'assets/img/andy.png'}
        %dd そこまで頑張らなくていいですよ。お歳寄りなんだから…。
      %dl.hakase
        %dt
          %img{src: 'assets/img/hakase-14.png'}
        %dd だみゃれ！わしゃはわしゅはどうしゅても宇宙に行きゅたいんじゃ。ハァハァハァハァ
      %dl.hakase
        %dt
          %img{src: 'assets/img/hakase-14.png'}
        %dd 50袋分のゆーあーるえるを用意しにゃいと…。
      %dl.andy
        %dt
          %img{src: 'assets/img/andy.png'}
        %dd そんなことすると逆に買ってもらえませんよ！
      %dl.hakase
        %dt
          %img{src: 'assets/img/hakase.png'}
        %dd そうか…、じゃあここまでにしておこう。
      %dl.hakase
        %dt
          %img{src: 'assets/img/hakase-10.png'}
        %dd どうか、わしの菜乾を買ってください。おねがいします。
