.social-area-syncer
  %ul.social-button-syncer
    / Twitter
    %li.sc-tw
      %a.twitter-share-button{"data-count" => "vertical", "data-dnt" => "true", "data-lang" => "ja", "data-url" => "https://syncer.jp", :href => "https://twitter.com/share"} ツイート
    / Facebook
    %li.sc-fb
      .fb-like{"data-action" => "like", "data-href" => "https://syncer.jp", "data-layout" => "box_count", "data-share" => "false", "data-show-faces" => "true"}
    / Google+
    %li
      .g-plusone{"data-href" => "https://syncer.jp", "data-size" => "tall"}
    / はてなブックマーク
    %li
      %a.hatena-bookmark-button{"data-hatena-bookmark-lang" => "ja", "data-hatena-bookmark-layout" => "vertical-balloon", :href => "http://b.hatena.ne.jp/entry/https://syncer.jp", :title => "このエントリーをはてなブックマークに追加"}
        %img{:alt => "このエントリーをはてなブックマークに追加", :height => "20", :src => "https://b.st-hatena.com/images/entry-button/button-only@2x.png", :style => "border:none;", :width => "20"}/
    / pocket
    %li
      %a.pocket-btn{"data-lang" => "en", "data-pocket-count" => "vertical", "data-pocket-label" => "pocket", "data-save-url" => "https://syncer.jp"}
    / LINE [画像は公式ウェブサイトからダウンロードして下さい]
    %li.sc-li
      %a{:href => "http://line.me/R/msg/text/?https://syncer.jp"}
        %img.sc-li-img{:alt => "LINEに送る", :height => "60", :src => "./linebutton_36x60.png", :width => "36"}/
  / Facebook用
  #fb-root



%div.mainContent
  %div.talkContent
    %div.innner

      %div.linedot
        %span キャラクター紹介
        %hr

      %div.characterIntro
        %dl.ononao
          %dt
            %img{src: 'assets/img/ononao.png'}
          %dd
            "おのなお"
            %p つけもの大好きな青年
        %dl.hakase
          %dt
            %img{src: 'assets/img/hakase.png'}
          %dd
            "つけものジジイ"
            %p 自称つけもの博士

      %div.linedot
        %hr

        /最初
      %dl.ononao
        %dt
          %img{src: 'assets/img/ononao.png'}
        %dd バクバク ガツガツガツ バクバクバクバク
      %dl.ononao
        %dt
          %img{src: 'assets/img/ononao.png'}
        %dd つけものマジうめ〜
      %dl.ononao
        %dt
          %img{src: 'assets/img/ononao.png'}
        %dd おっと、旨すぎて全部食っちまった。つけ直すか
      %div.image
        %img{src: '/assets/img/tsukemono.JPG'}
        %p ぬちょぬちょぬちょぬちょ
      %dl.hakase
        %dt
          %img{src: 'assets/img/hakase.png'}
        %dd まだつけもので消耗してるのか？
      %dl.ononao
        %dt
          %img{src: 'assets/img/ononao.png'}
        %dd ん？イケハヤか？あ、ちがった。なんだ、このくそムカつくジジイは！？
      %dl.hakase
        %dt
          %img{src: 'assets/img/hakase.png'}
        %dd じ、じじい・・・。これだからゆとりは。

        /菜乾
      %dl.hakase
        %dt
          %img{src: 'assets/img/hakase.png'}
        %dd まあいい。これからの時代はこれじゃ！
      %div.image
        %img{src: '/assets/img/saikan2.jpg'}
      %dl.ononao
        %dt
          %img{src: 'assets/img/ononao.png'}
        %dd なんですか？それは？
      %dl.hakase
        %dt
          %img{src: 'assets/img/hakase.png'}
        %dd 菜乾じゃ。
      %dl.ononao
        %dt
          %img{src: 'assets/img/ononao.png'}
        %dd 菜乾？！
      %dl.hakase
        %dt
          %img{src: 'assets/img/hakase.png'}
        %dd まあ簡単に言えば、つけものをフリーズドライ化させたものじゃ。
      %dl.ononao
        %dt
          %img{src: 'assets/img/ononao.png'}
        %dd え、これがつけもの？！！！
      %dl.hakase
        %dt
          %img{src: 'assets/img/hakase.png'}
        %dd そうじゃ、よく見ておけ。
      %dl.hakase
        %dt
          %img{src: 'assets/img/hakase.png'}
        %dd ほれ食ってみろ
      %dl.ononao
        %dt
          %img{src: 'assets/img/ononao.png'}
        %dd パクパク・・・ほんとだ、ほんとにつけものだ！
      %dl.hakase
        %dt
          %img{src: 'assets/img/hakase.png'}
        %dd 美味いだろ？これが新時代のつけものじゃ。
      %dl.hakase
        %dt
          %img{src: 'assets/img/hakase.png'}
        %dd 新時代のつけものはそのままでも食べることが出来るのじゃ。
      %dl.ononao
        %dt
          %img{src: 'assets/img/ononao.png'}
        %dd バクバク ガツガツガツ バクバクバクバク
      %dl.ononao
        %dt
          %img{src: 'assets/img/ononao.png'}
        %dd 美味い、美味すぎる！！
      %dl.hakase
        %dt
          %img{src: 'assets/img/hakase.png'}
        %dd そうじゃろ、ところでお主、菜乾には栄養が沢山含まれてることを知ってるか？
      %dl.ononao
        %dt
          %img{src: 'assets/img/ononao.png'}
        %dd 菜乾って栄養あるんですか？
      %dl.hakase
        %dt
          %img{src: 'assets/img/hakase.png'}
        %dd そうじゃ、食物繊維が半端無く含まれてるんじゃ。
      %dl.hakase
        %dt
          %img{src: 'assets/img/hakase.png'}
        %dd 食物繊維は消化液中の脂肪酸に出会うと脂肪に付着し、脂肪の吸収を抑制する効果があるんじゃ。つまりダイエットにも最適なんじゃ。
      %dl.hakase
        %dt
          %img{src: 'assets/img/hakase.png'}
        %dd さらには乳酸菌も沢山含まれてる、野菜を加熱しないから加熱に弱いビタミンCまでとれるんじゃ。
      %dl.ononao
        %dt
          %img{src: 'assets/img/ononao.png'}
        %dd 乳酸菌まで、つけものすげー！
      %dl.hakase
        %dt
          %img{src: 'assets/img/hakase.png'}
        %dd 乳酸菌を摂ると、腸内の善玉菌が増えておなかの調子が整うだけでなく、善玉菌の働きでからだの免疫機能も高まり、健康増進に役立つからのー。
      %dl.hakase
        %dt
          %img{src: 'assets/img/hakase.png'}
        %dd だが、ここからが本題じゃ。実はな、宇宙でも和食ブームが起こっているんじゃ。
      %dl.ononao
        %dt
          %img{src: 'assets/img/ononao.png'}
        %dd 宇宙で？
      %dl.hakase
        %dt
          %img{src: 'assets/img/hakase.png'}
        %dd 日本食というのは世界でも健康に良いご飯として認識されているのじゃ。だからISSのように長期滞在を予定している国際パートナーの宇宙飛行士に利用されることも期待されているというわけじゃ。まあ宇宙飛行士たちにも日本食の味を楽しんでもらい長期滞在の際のストレスを和らげたいってことじゃな。宇宙の仕事は大変だからの。
      %dl.ononao
        %dt
          %img{src: 'assets/img/ononao.png'}
        %dd 日本食にはすごい効果があるんですね！
      %dl.hakase
        %dt
          %img{src: 'assets/img/hakase.png'}
        %dd だが一点だけ困ったことがあるんじゃ・・・。
      %dl.ononao
        %dt
          %img{src: 'assets/img/ononao.png'}
        %dd なんですか、困ったことって？
      %dl.hakase
        %dt
          %img{src: 'assets/img/hakase.png'}
        %dd 今宇宙食に認定されている日本食というのは、これなんじゃが・・・。
      %dl.ononao
        %dt
          %img{src: 'assets/img/ononao.png'}
        %dd あ！つけものがない！
      %dl.hakase
        %dt
          %img{src: 'assets/img/hakase.png'}
        %dd そうなんじゃ・・・。そのせいで最近宇宙飛行士たちの間でもめ...あ、これは言っちゃいかんのだった。
      %dl.hakase
        %dt
          %img{src: 'assets/img/hakase.png'}
        %dd まあなんというか、これでは日本食が返ってストレスの元となっていると思うんじゃ。だから我々がつけものをいや、菜乾を宇宙食にするというのが使命だと思うんじゃ。その方法としてこのサイトで署名を集めて大体100人から1000人くらい集めてJAXAに認定してもらおうと思っているというわけじゃ。
      %dl.ononao
        %dt
          %img{src: 'assets/img/ononao.png'}
        %dd 博士！俺もっと菜乾に秘めたパワーを知りたいです！
      %dl.hakase
        %dt
          %img{src: 'assets/img/hakase.png'}
        %dd そうかそうかいいことじゃ。ちなみにつけものは世界無形文化遺産だってことを知っていたか？
      %dl.ononao
        %dt
          %img{src: 'assets/img/ononao.png'}
        %dd え、まじっすか！
      %dl.hakase
        %dt
          %img{src: 'assets/img/hakase.png'}
        %dd だから宇宙食としてJAXAに認定されたら”宇宙で食べられる世界遺産”として漬物が認知されるわけじゃ。
      %dl.ononao
        %dt
          %img{src: 'assets/img/ononao.png'}
        %dd え、でもすでに宇宙には日本食があるんでしょ？
      %dl.hakase
        %dt
          %img{src: 'assets/img/hakase.png'}
        %dd そうじゃ。だが日本食は健康に良いという理由だけで宇宙に飛ばされているのじゃ。これでは和食が可哀想じゃ。
      %dl.hakase
        %dt
          %img{src: 'assets/img/hakase.png'}
        %dd だからわしらが菜乾を使って日本中、いや世界中に知らしめてやるのじゃ。和食は世界無形文化遺産なんだと、あのアンコール遺跡やマチュピチュ、グランドキャニオンと同じ類なんだと。
      %dl.hakase
        %dt
          %img{src: 'assets/img/hakase.png'}
        %dd ちなみになここだけの話なんじゃが、宇宙人は菜乾が食いたくて地球に来てるっていう説もある。
      %dl.ononao
        %dt
          %img{src: 'assets/img/ononao.png'}
        %dd え？！つけものすげー！博士、つけものすげーよ！日本人の誇りだよ！
      %dl.hakase
        %dt
          %img{src: 'assets/img/hakase.png'}
        %dd ちなみに、説明については全部NA◯ERまとめに書いてあった。
      %dl.ononao
        %dt
          %img{src: 'assets/img/ononao.png'}
        %dd なんだよ！博士のことを一瞬でもすげーと思った俺がバカだった・・・。
      %dl.ononao
        %dt
          %img{src: 'assets/img/ononao.png'}
        %dd （このサイトも小野ほりでいに似てるし、イケハヤ出すし、極めつけはNA◯ERか・・パクり大好きジジイだな）
      %dl.ononao
        %dt
          %img{src: 'assets/img/ononao.png'}
        %dd ところで博士、ここの電気さっきからチカチカしているんですけど調子悪いんですか？


        / 停電
      %dl.ononao
        %dt
          %img{src: 'assets/img/ononao.png'}
        %dd うわ！停電だ！！
      %dl.hakase
        %dt
          %img{src: 'assets/img/hakase.png'}
        %dd あ、あ、あああああああああああああああああああ
      %dl.ononao
        %dt
          %img{src: 'assets/img/ononao.png'}
        %dd は、はかせ？？
      %div.image
        %img{src: '/assets/img/letter2.png'}
      %dl.ononao
        %dt
          %img{src: 'assets/img/ononao.png'}
        %dd た、たいへんだーー！！
      %dl.ononao
        %dt
          %img{src: 'assets/img/ononao.png'}
        %dd 博士を助けなきゃ！
      %dl.ononao
        %dt
          %img{src: 'assets/img/ononao.png'}
        %dd みんな、オイラに力を貸してくれ！
